#index_section_canvas {
    margin: 0;
    background-color: #121212;
    text-align: center;
    height: 34rem;
}
#index_section_canvas:hover {
    cursor:pointer;
}
#index_h1_canvasTitle {
    margin: 0;
    font: 400 5rem 'Pretendard Variable', sans-serif;
    color: white;
    padding-top: 10rem;
}
#index_h2_canvasSubtitle{
    margin: 0;
    font: 300 2rem 'Pretendard Variable', sans-serif;
    color: white;
    padding-top: 5rem;
}
#index_p_canvasParagraph{
    margin: 0;
    font: 300 2rem 'Pretendard Variable';
    color: white;
    padding-top: 1rem;
}
/*#index_button_canvasButton {*/
/*    margin-top: 2rem;*/
/*    margin-bottom: 5rem;*/
/*    padding: 0.7rem 2.5rem;*/
/*    font-size: 1.5rem;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    background-color: #ffc107;*/
/*}*/
/*#index_button_canvasButton:hover {*/
/*    cursor: pointer;*/
/*    background-color: white;*/
/*}*/
