html {
    font: 300 100% 'Pretendard Variable';
}

body {
    margin: 0;
    padding: 0;
    background-color: #404040;
}

/*header*/
#general_header_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
}
#general_a_title {
    margin: 0 20rem 0 auto;
    padding: 0.8rem 0 0.8rem 0;
    font: 400 1.5rem 'Pretendard Variable';

}
#general_a_dashboard {
    margin: 0 auto 0 20rem;
    text-align: right;
    padding: 0.8rem 0 0.8rem 0;
    font-size: 1.5rem;
}

#general_a_title:hover {
    font: 500 1.5rem 'Pretendard Variable';
    cursor: pointer;
}

#general_a_dashboard:hover {
    font: 400 1.5rem 'Pretendard Variable';

    cursor: pointer;
}
/*catalog*/
#general_section_catalog {
    padding: 0 0 0 0;
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
#general_a_reactionBox {
    margin: 2.5rem 1rem 0 auto;
    padding: 3rem;
    width: 13rem;
    height: 8rem;
    background-color: #B3B3B3;
}
#general_a_aimBox {
    margin: 2.5rem 1rem 0 1rem;
    padding: 3rem;
    width: 13rem;
    height: 8rem;
    background-color: #B3B3B3;
}
#general_a_cpsBox {
    margin: 2.5rem auto 0 1rem;
    padding: 3rem;
    width: 13rem;
    height: 8rem;
    background-color: #B3B3B3;
}
#general_a_reactionBox:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}
#general_a_aimBox:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}
#general_a_cpsBox:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}
#general_h3_reactionBoxTitle {
    font: 400 1.5rem 'Pretendard Variable', sans-serif;
}
#general_h3_aimBoxTitle {
    font: 400 1.5rem 'Pretendard Variable', sans-serif;
}
#general_h3_cpsBoxTitle {
    font: 400 1.5rem 'Pretendard Variable', sans-serif;
}
a:link {

 color: black;

 text-decoration: none;

}



a:visited {

 color: black;

 text-decoration: none;

}



a:hover {

 color: black;

 text-decoration: none;

}



a:active {

 color: black;

 text-decoration: none;

}
button.next {
    margin: 5rem 0 5rem 2rem;
    padding: 0.5rem 0;
    font: 300 1.3rem 'Pretendard Variable';
    border: none;
    border-radius: 1rem;
    width: 7rem;
    background-color: #1DB954;
    display: none;
}
button.next:hover {
    cursor: pointer;
    background-color:#FFFFFF;
    transform: translateY(-0.25rem);
}
button.retry {
    margin: 5rem 2rem 5rem 0;
    padding: 0.5rem 0;
    font: 300 1.3rem 'Pretendard Variable';
    border: none;
    border-radius: 1rem;
    width: 7rem;
    background-color: #B00020;
    display: none;
}
button.retry:hover {
    cursor: pointer;
    background-color:#FFFFFF;
    transform: translateY(-0.25rem);
}
/*under 70rem*/
@media all and (max-width: 66rem) {
    #general_a_title {
        margin: 0 auto 0 3rem;
        font: 400 1.5rem 'Pretendard Variable', sans-serif;
    }
    #general_a_dashboard {
        margin: 0 3rem 0 auto;
        text-align: right;
        font-size: 1.5rem;
    }
}
