{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>progamertest.com</title>
    <link rel="stylesheet" href={% static "base/css/base.css"%}>
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css" />
</head>
<body>
    <header id="general_header_header">
        <a href="{% url "main:index" %}" id="general_a_title">
            progamertest.com
        </a>
        <a href="{% url "dashboard:main" %}" id="general_a_dashboard">
            dashboard
        </a>
    </header>
    {% block canvas %}{% endblock %}
    <section id="general_section_catalog">
        <a href="{% url "reaction:main" %}" id="general_a_reactionBox">
            <h3 id="general_h3_reactionBoxTitle">
                반응속도 테스트
            </h3>
            <p id="general_p_reactionBoxSubtitle">
                브라우저 엔진으로 작동하는 진짜 반응속도 테스트
            </p>
        </a>
        <a href="{% url "aim:main" %}" id="general_a_aimBox">
            <h3 id="general_h3_aimBoxTitle">
                에임 테스트
            </h3>
            <p id="general_p_aimBoxSubTitle">
                마우스 클릭 정확도 테스트
            </p>
        </a>
        <a href="{% url "cps:main" %}" id="general_a_cpsBox">
            <h3 id="general_h3_cpsBoxTitle">
                클릭속도 테스트
            </h3>
            <p id="general_p_cpsBoxSubTitle">
                CPS(Click Per Second) 테스트
            </p>
        </a>
    </section>
    {% block form %}{% endblock %}
        <script type="module" src={% static "base/js/base.js"%}>
        </script>
        <script type="module" src={% static "base/js/utils.js"%}>
        </script>
    {% block script %}{% endblock %}
</body>
</html>